.nav{
    background-color: black;
    color: #bababa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

h3{
    font-size: large;
    font-weight: bold;
}

.btn{
    background-color: #bababa;
    color: black;
    font-size: large;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}