@import "tailwindcss";

#right::-webkit-scrollbar{
    display: none;
}

@keyframes scrollOnce {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-40%);
  }
}

.animate-scroll-once {
  animation: scrollOnce 15s linear forwards;
}