.btn{
    padding: 10px 20px;
    margin: 20px;
    background-color: red;
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

